
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"> <!-- para que se centre-->
       <div class="container-fluid">
           <a class="navbar-brand" routerLink="/">Seminario 6</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
        
         </div>
    </div>
   </nav>
   <div class="row">
        <div class="col-md-4 p-4">
            <div class="card card-photo"> 
                <div class="card-body">
                    Laura
                </div>
                <div class="card-body">
                    <div>
                        Apellidos: Nuez Zaragoza
                    </div>
                    <div>
                        Email: laura.nuez@estudiantat.upc.edu
                    </div>
                    <div>
                        Telefono: 666666666
                    </div>   
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div class="card card-photo"> 
                <div class="card-body">
                    Oscar
                </div>
                <div class="card-body">
                    <div>
                        Apellidos: Vilamitjana I Puerto
                    </div>
                    <div>
                        Email: oscar.vilamitjana.i@estudiantat.upc.edu
                    </div>
                    <div>
                        Telefono: 666666666
                    </div>   
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <div class="card card-photo"> 
                <div class="card-body">
                    Alex Cristian
                </div>
                <div class="card-body">
                    <div>
                        Apellidos: Romera Peral
                    </div>
                    <div>
                        Email: alex.cristian.romera@estudiantat.upc.edu
                    </div>
                    <div>
                        Telefono: 666666666
                    </div>   
                </div>
            </div>
        </div>
        
    </div>
